.task {
    position: relative;
    height: 100%;
    background-color: rgb(180, 180, 180);
    padding: 6px 18px;
    word-break: break-all;
}

.deleteTask {
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
    color: rgb(255, 60, 60);
}