:host {
    margin: auto;
}

form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 2vh;
}

div {
    width: 80%;
    display: flex;
    column-gap: 3vw;
}