:host {
    position: absolute;
    top: 0.5px;
    bottom: 0.5px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: var(--secondary);
}