.app-container {
    position: absolute;
    top: 0.5px;
    bottom: 0.5px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: rgb(233, 233, 233);
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(216, 216, 216);
}