/* You can add global styles to this file, and also import other style files */

html {
    overflow: hidden;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

.task {
    background-color: rgb(180, 180, 180);
    padding: 6px;
}